<h1>Methods from Class ArrayList</h1>
<h3>
At first, user needs to rate the method, if method is rated as high(range > 50%), user needs to select the reason(s) that make the method important.
Finally, user select the important/valuable sentences corresponding to the important method mentioned in the Java official API reference documentation.
</h3>
<!-- <b>List of the methods:</b>
<nav>
  <a (click)="toggleEditor('name')">add(int index, E element)</a>
  <a (click)="toggleEditor('profile')">forEach(Consumer<? super E> action)</a>
</nav> -->

<app-name-editor *ngIf="showNameEditor"></app-name-editor>

<app-profile-editor *ngIf="showProfileEditor"></app-profile-editor>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->